@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.rdrDateRangePickerWrapper {
  display: inline-flex;
}

@media only screen and (max-width: 640px) {
  .rdrDateRangePickerWrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .rdrDefinedRangesWrapper {
    display: none;
  }
}

@layer components {
  .button {
    @apply px-4 
    py-2 
    border 
    rounded-full 
    cursor-pointer 
    hover:shadow-lg 
    active:scale-95 
    ease-in-out 
    duration-100 
    active:bg-gray-100;
  }
}
